<a href="https://colab.research.google.com/github/coderanandmaurya/naive-bayes/blob/main/naive_bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
url="https://raw.githubusercontent.com/coderanandmaurya/naive-bayes/main/tennis.csv"
data=pd.read_csv(url)

In [4]:
data.head()

    outlook  temp humidity  windy play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes
4     rainy  cool   normal  False  yes

In [6]:
data.isnull().sum()

outlook     0
temp        0
humidity    0
windy       0
play        0
dtype: int64

In [10]:
X=data.iloc[:,1:4]
Y=data.iloc[:,-1]

In [12]:
X.head()

   temp humidity  windy
0   hot     high  False
1   hot     high   True
2   hot     high  False
3  mild     high  False
4  cool   normal  False

In [13]:
Y.head()

0     no
1     no
2    yes
3    yes
4    yes
Name: play, dtype: object

## Label Encoder

In [28]:
X["temp"].value_counts()

mild    6
hot     4
cool    4
Name: temp, dtype: int64

In [34]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder

In [29]:
# Ordinalencoding -> temp
oe = OrdinalEncoder(categories=[['mild','hot','cool']])
X["temp"] = oe.fit_transform(X[["temp"]])

In [30]:
X.head()

   temp humidity  windy
0   1.0     high  False
1   1.0     high   True
2   1.0     high  False
3   0.0     high  False
4   2.0   normal  False

In [31]:
# Ordinalencoding -> temp
oe = OrdinalEncoder()
X["humidity"] = oe.fit_transform(X[["humidity"]])

In [33]:
# Ordinalencoding -> temp
oe = OrdinalEncoder()
X["windy"] = oe.fit_transform(X[["windy"]])

In [36]:
Y.e

0      no
1      no
2     yes
3     yes
4     yes
5      no
6     yes
7      no
8     yes
9     yes
10    yes
11    yes
12    yes
13     no
Name: play, dtype: object

In [38]:
# Label Encoder
le=LabelEncoder()
Y =Le.fit_transform(Y)

ValueError: ignored

In [ ]:
transformer.fit_transform(X_train)

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.2)